.container {
    display: grid;
    grid-template-areas: "logo nav nav mode";
    grid-template-columns: 2fr 3fr 3fr 3fr;
    align-items: center;
}

.logo {
    grid-area: logo;
}
.navContainer {
    grid-area: nav;
    text-align:justify;
}

.navItem {
    display: inline-block;
    list-style-type: none;
    font-size: 1.5rem;
    padding-left: 1.5rem;
}

.navItem > a {
    text-decoration: none;

}

.modeToggle {
    grid-area: mode;
    justify-self: right;
}