@use '@carbon/react';
@use '@carbon/react/scss/breakpoint' as *;

// Components
@use './components/Header/Header';
@use './components/Footer/Footer';
@use './components/BigNumber/BigNumber';

@media (min-width: 42rem) {
    .cds--grid--no-gutter {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.cds--content {
    margin-top: 3rem;
    padding: 0;
    background: var(--cds-background);
}

.cds--content .cds--css-grid {
    max-width: 100%;

    @include breakpoint(md) {
        padding-left: 20px;
        padding-right: 20px;
    }
}