.container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "logo header header header"
        "content content content content"
        "footer footer footer footer";
    grid-template-columns: 2fr 3fr 3fr 3fr;
    grid-template-rows: 60px auto 75px;
    gap: 1rem;

}
.logo {
    grid-area: logo;
    align-self: center;
    justify-self: start;
    overflow: hidden;
}
.header {
    grid-area: header;
    align-self: center;
}

.content {
    grid-area: content;
    justify-self: center;
}

.footer {
    grid-area: footer;
    justify-self: center;
    align-self: center;
}