.container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "logo header header header"
        "sidebar content content content"
        "sidebar footer footer footer";
    grid-template-rows: 60px auto 75px;
    gap: 1rem;

}

.header {
    grid-area: header;
    align-self: center;
}

.content {
    grid-area: content;
    justify-self: center;
}

.footer {
    grid-area: footer;
    justify-self: center;
    align-self: center;
}