.table {
    width: 100%;
    overflow: scroll;
}

.header {
    font-size: 1.75rem;
    font-style: bold;
}
.row {
    border-bottom: 1px solid #ddd;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.row:nth-child(even) {
    background-color: #d4d4d4;
}

.row:hover {
    background-color: #959ef3;
}

.dateCol{
    text-align: left;
}

.kWhCol{
    text-align: right;
}
